# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff
# eps_pay_django/settings.py
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
# serviceAccountKey.json  

# Media and static files (optional - depends on setup)
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Migrations (optional - usually you DO commit these)
# */migrations/*
# !*/migrations/__init__.py
